<div class="wrap-fluid" style="width: auto; margin-left: 250px;">
    <div class="container-fluid paper-wrap bevel tlbr">
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                    <i class="icon-document-edit"></i>
                    <span>{Upload files}</span>
                    </h2>
                </div>
            </div>
        </div>
        <!--/ TITLE -->
        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="/" title="Home">Home</a>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <span>Emails</span>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="#" title="Invoice generation">Upload emails</a>
            </li>
        </ul>
        <!-- END OF BREADCRUMB -->
        <div class="row" style="padding:0 30px;">
            <div class="col-sm-12">
                <div class="nest" id="inlineClose">
                    <div class="title-alt">
                        <h6>{Upload emails}</h6>
                        <!--
                        <div class="titleClose">
                            <a class="gone" href="#inlineClose">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div> -->
                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#inline">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>
                    <div class="body-nest" id="inline">
                        <div class="orders_dates simple_info_table" style="width:100%; clear:both">
                            <div class="form_center">
                                <form role="form" class="form-inline">
                                    <div class="form-group">
                                        <label>{Upload emails file}</label><br>
                                        <!--<div class="fileUpload btn btn-default" style="float: left;">
                                            <span id="dummy_click">Click to select file</span>
                                            <input id="file" type="file" class="upload" style="display: none;"/>
                                        </div>
                                        <input id="uploadFile"  disabled="disabled" style="width: 60%;margin-left: 5px;"/>-->
                                        <input id="file" type="file">
                                    </div>

                                    <button type="submit" class="btn btn-primary" style="MARGIN-TOP: 23px;">{Submit}</button>
                                    <button id="show-details" class="btn btn-warning" style="MARGIN-TOP: 23px;">{Show Details}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="response"></div>
                </div>
            </div>
        </div>