<div class="wrap-fluid" style="width: auto; margin-left: 250px;">
    <div class="container-fluid paper-wrap bevel tlbr">
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-12">
                    <h2 class="tittle-content-header">
                    <i class="icon-document-edit"></i>
                    <span>{Show departments}</span>
                    </h2>
                </div>
            </div>
        </div>
        <!--/ TITLE -->
        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="/" title="Home">{Home}</a>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <span>{User rights}</span>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="#" title="Show users">{Show departments}</a>
            </li>
        </ul>
        <!-- END OF BREADCRUMB -->
        <div class="row" style="padding:0 30px;">
            <div class="col-sm-12">
                <div class="nest" id="inlineClose">
                    <div class="title-alt">
                        <h6>{Show departments}</h6>
                        <!--
                        <div class="titleClose">
                            <a class="gone" href="#inlineClose">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div> -->
                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#inline">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>
                    <div class="body-nest" id="inline">
                        <div class="departments_table simple_info_table" style="width:100%; clear:both">
                        <div id="table-response">
                            <table style="width:100%;" class="table table-bordered all_orders">
                                <thead>
                                    <tr>
                                        <th>{Name}</th>
                                        <th>{Users}</th>
                                        <th style="width: 150px;">{Actions}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- BEGIN {departments_info} AS department -->
                                    <tr>
                                        <td>{department.name}</td>
                                        <td>
                                            <!-- BEGIN {department.users} AS user -->
                                            {user.name} |
                                            <!-- END user -->
                                        </td>
                                        <td><a href="/permisions/department_view/{department.id}" class="btn btn-default btn-block" title="User">{View}</a></td>
                                    </tr>
                                    <!-- END department -->
                                </tbody>
                            </table>
                        </div>
                        <div id="table-details"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>