    <!-- MODAL -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{Close}</span></button>
	    <h4 class="modal-title" id="myModalLabel"></h4>
	  </div>
	  <div class="modal-body" id="myModalBody"></div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-warning" data-dismiss="modal">{Close}</button>
	  </div>
	</div>
      </div>
    </div>
    <!--/MODAL-->

	</div>
	<div class="container-fluid">
		<footer class="footer">
			<p>&copy; Aakasha 2014 || Developed by <a href="mailto:me@borislazarov.com">realdark</a> & <a href="mailto:s.b.jordanov@gmail.com">SBYDev</a></p>
		</footer>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="{path_template}js/bootstrap-datetimepicker.min.js"></script>
<script src="{path_template}js/jquery.dynatable.js"></script>
<script src="{path_template}js/main.js"></script>
{js}

<script>
$(document).ready(function(){
  {jq}
});
</script>
</body>
</html>
